@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #0B2027, #40798C, #70A9A1, #CFD7C7, #F6F1D1);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.311); 
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #40798C;
    text-align: center;
}

h2 {
    color: #40798C;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.26)
}

p {
    text-align: justify;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.26)
}