@charset "UTF-8";

/* estilo para telas */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Roboto";
    font-size: 1em;
}

header {
    background-color: lightgray;
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: grey;
    padding-left: 20px;
}

menu li {
    background-color: #333;
    color: white;
    display: inline-block;
    padding: 10px;
    margin-left: ;
}

article {
    width: 600px;
    display: block;
    margin: auto;
    margin-top: 50px;
}