@charset "UTF-8";

/* medidas
    pequenas telas: 600px
    celulares: 600px
    tablet: 768px
    pc: 992px
    : 1921px
*/

/* tablet */
@media screen and (min-width: 768px) {
    section#login {
        width: 400px;
        height: 300px;
    }

    div#img {
        float: right;
        width: 40%;
        height: 100%
    }

    form {
        float: left;
        width: 60%;
    }
}

/* pc */
@media screen and (min-width: 992px) {
    section#login {
        width: 600px;
    }

    #rememberinfo {
        padding-left: 34px;
    }
}

/* HD */
@media screen and (min-width: 1200px) {
    
}

/* TV/4K */
@media screen and (min-width: 1921){
    
}