@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color1: #e2d4b7ff;        /* dutch white */
    --color2: #a1a499ff;        /* ash gray */
    --color3: #9c9583ff;        /* battleship gray */
    --color4: #22577aff;        /* lapis lazuli */
    --color5: #111d13ff;        /* eerie black */
}

* {
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--color2), var(--color3));
    
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#login {
    background-color: var(--color1);
    width: 250px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.493);
    overflow: hidden;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

div#header {
    background-color: var(--color3);
    padding: 4px 0px 4px 10px;
}

div#header > h1 {
    font-size: 1.1em;
}

div#img {
    display: block;
    background-image: url(../images/ryunosuke-kikuno-fLJ4LLSEzhE-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: right;
    
    width: 100%;
    height: 140px;
    background-size: cover;
}

form {
    display: block;
    padding: 10px;
}

div.field {
    width: 100%;
}

div.field > input {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    height: 24px;
    text-align: center;
}

#rememberinfo {
    display: block;
    padding-top: 8px;
    padding-left: 23px;
    font-size: 0.8em;
}

div#buttons {
    margin-top: 40px;
}

div.button > input {
    display: block;
    margin: auto;
    margin-top: 6px;
    width: 80%;
    height: 24px;
    width: 80%;
}