@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --apricot: #f8c9b4;
    --sage: #bcbd8b;
    --resada: #717744;
    --umber: #766153;
    --drab: #373d20;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: #f8c9b4;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section {
    display: block;
    background-color: #717744;
}

section#login {
    background-color: white;
    width: 250px;
    height: 474px;
    border-radius: 20px;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    

    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.385);

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #f8c9b4 url(../images/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

div#form {
    padding: 10px;
}

div#form > h1{
    display: block;
    text-align: center;
}

div#form > p {
    font-size: 0.8em;
}

div.campo {
    background-color: var(--umber);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 4px 0px
}

label {
    display: none;
}

div.campo span {
    color: white;
    
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: var(--sage);
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 6px;
    transform: translate(1px, -11px);
}

div.campo > input:focus-within {
    background-color: white;
}

div.buttons {
    margin-top: 30px;
}

form input#loginbuttom {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--resada);
    color: white;
    border: none;
    border-radius: 8px;
}

form input#loginbuttom:hover {
    background-color: var(--drab);
    cursor: pointer;
}

form input {
    margin-top: 10px;
}

form input#forgot {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--resada);
    color: white;
    border: none;
    border-radius: 8px;
}

form input#forgot:hover {
    background-color: var(--drab);
    cursor: pointer;
}