@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

table {
    border-collapse: collapse;
    width: 400px;
}

thead, tfoot {
    background-color: grey;
    color: white;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

.num {
    text-align: right;
}