@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 97vh;
    font-family: 'Roboto';
    background-color: black;
    background-image: url(images/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*
    auto        automático
    contain     exibe 100% da image
    cover       cobre 100% do background 
    */
}

main {
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 8px;
}
